.top-up-method-block
    margin-top 9px
    &__caption
        color #ffffff
        text-align center
    &__buttons
        width 70px
        margin-left 10px
    &__imputs
        width 60%
    &__form
        display flex
        flex-direction row
        align-items center
        justify-content flex-end
    &__img-row
        width 4rem
    &__container
        display flex
        justify-content center
        align-items center
        &_position
            &_right
                height 4rem
                background-color gray
                display flex
                width 23rem
            &_left
                background-color #423B3B
                border-radius 15px
                margin-right 6px
                height 6rem
                width 6rem