.user-block
  padding: 0px
  font-size 1rem
  color green
  font-weight bold
  justify-content flex-end
  display flex
  width 100%
  align-items center
  &__container
    display flex
    flex-direction column
    background-color #ffffff
    align-items center
    justify-content space-around
    padding 7px 8px 7px 15px
    border 1px solid #e8e8e8
    position relative
    min-width 12%
  
  &__menu
    margin-left 5px
    cursor pointer

  &__balance
    color #ec7a4c
  &__name
    color #2b2b2b
    display flex