.user-block
  padding: 0px
  font-size 1rem
  color green
  justify-content flex-end
  display flex
  width 100%
  align-items center
  &__container
    display flex
    flex-direction column
    align-items center
    justify-content space-around
    position relative
    min-width 12%
    width 100%
    color #fff
    font-size 25px
    align-items flex-start

  
  &__menu
    margin-left 5px
    cursor pointer
  &__name
    display flex