.button
  background linear-gradient(to bottom, #ee7240, #da683a)
  border 1px solid #ee4e0c
  border-radius 2px
  color #fff
  font-size 1rem
  font-weight 600
  width 100%
  height 2.0rem
  cursor pointer
  &_style
    &_default
      background linear-gradient(to bottom, #ee7240, #da683a)
      border 1px solid #ee4e0c
    &_oragnge
      background #323232
      border 1px solid #323232
    &_primary
      background linear-gradient(to bottom, #ee7240, #da683a)
  &_size
    &_box
      display block
      position relative
    &_sml-box
      height 1.8rem
    &_mdl-box
      height 2.14rem
  &_disabled
    opacity: 0.65; 
    cursor: not-allowed;
