.duel-layout
  display flex
  width 100%
  &__button
    width 70px
  
  &__message-container
    background-color #ddd
    display flex
    width 100%
    justify-content center
    align-items center