.duel-layout
  display flex
  width 100%
  flex-direction column
  
  &__start-panel
    display flex

  &__user-info-panel
  &__bet-panel
    margin-top 20px
    display flex
    height 100px
    align-items center
    background-color #ddd
    &_position
      &_left
        width 80%
      &_right
        flex-grow 1
        width 20%
  &__button
    width 70px
  
  &__message-container
    background-color #ddd
    display flex
    width 100%
    justify-content center
    align-items center