.header
  display flex
  height 6.3rem
  position relative
  background-color rgba(0, 0, 0, 0.5)
  box-shadow 0 0 10px  4px rgba(0, 0, 0, 0.5)
  &__user-wrapper
    margin-left 14%
    width 100%
    display flex 
    flex-direction row
    justify-content flex-end
    argin-right 40px

  &__logo-wrapper
    margin-left: 40px;

  &__wrapper
    display inline-block
    margin auto
    &_position
      &_left
        width 50%
        display flex
        align-items center
        justify-content flex-start
        text-decoration none
      &_center
        position absolute
        margin auto auto
        left 0
        right 0
        top 25%
        z-index 1
        width 40%
      &_right
        width 50%
        display flex
        justify-content flex-end

  &__img-container
    width 20px
    height 20px
    margin-left 4.5%
  &__img
    width 100%
    height 100%
  &__text
    color #fff
    font-size 18px
    margin-right 25%
    margin 0 25% 0 20px
  &__button
    color #FFE500
    font-size 18px
    text-decoration none
  &__user-avatar
    margin-left 50px
    margin-right 40px
    max-height 80px