.app
  display flex
  flex-direction column

  &__row
    display flex
    justify-content space-around
    align-items baseline
    margin 10px 0
    height 25px

  &__tabs
    &__text
      font-size 1.6rem
      font-weight 600
      cursor pointer
      border-bottom 3px solid rgba(0,0,0,0)
      padding 0 2px
      color #fff
      &:hover
        border-bottom 3px solid #3ed92f
      &_active
        border-bottom 3px solid #53ba49

.auth-modal
  &__row,
  &__reg-button
    display flex
    justify-content space-around
    align-items baseline
    margin 10px 0
    height 25px
  &__reg-button
    margin-top 0