.event-item
  display flex
  justify-content space-around
  align-items center
  background-color #242b52
  width 100%
  margin-bottom 20px

  &__name-container
    display flex
    align-items center
  &__chance-container
    display flex
    align-items center
    flex-direction column