.user-info
  display flex
  height 6.3rem
  width 100%
  padding 0 60px
  background-color #423b3b
  color #fff

  &__wrapper
    display inline-block
    margin auto
    flex-direction column
    align-items center
    &_position
      &_left
        width 30%
        display flex
        text-decoration none
      &_center
        display flex
        width 40%
        display flex
      &_right
        width 30%
        display flex